# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/CalculatriceDeLaReciproqueDePythagore/v17/.suo
.vs/CalculatriceDeLaReciproqueDePythagore/v17/Browse.VC.db
.vs/CalculatriceDeLaReciproqueDePythagore/v17/ipch/AutoPCH/36b28830a21936c3/MAIN.ipch
